<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vue 计算属性和侦听器</title>
<script src="./vue.js"></script>
</head>
<body>
	<div id="root">
		<div>{{fullname}}</div>
		<div>修改次数 x{{count}}</div>
		<input v-model="firstname" /> <input v-model="lastname" />
	</div>

	<script>
		new Vue({
			el : "#root",
			data : {
				firstname : '',
				lastname : '',
				count : 0
			},
			computed : {
				fullname : function() {
					return this.firstname + '  ' + this.lastname
				}
			},
			watch : {
				fullname : function() {
					this.count++
				}
			}
		})
	</script>
</body>
</html>